<header class="color d-flex justify-content-around">

  <h1>
    Anime Aplication
  </h1>

  <div class="buttons d-flex justify-content-center align-items-center">


    <button class="btn btn-primary" routerLink="/anime/list-anime"><i class="fa-solid fa-list" ></i>  Lista de anime</button>

    <button class="btn btn-primary btn-rigth" routerLink="/anime/search-anime"> <i class="fa-sharp fa-solid fa-magnifying-glass"></i> Buscar por nombre</button>

  </div>

</header>

<router-outlet ></router-outlet>
